<div class="container">
    <div class="row vh-100 justify-content-center align-items-center">
        <div class="col-auto bg-ligth p-5 card">
            <h1>Bienvenido a Task Listener</h1>
            <form action="" method="get">
                <div class="input-group p-2">
                    <input type="text" class="form-control" placeholder="Email">
                </div>
                <div class="input-group p-2">
                    <input type="password" class="form-control" placeholder="Password">
                </div>
                <div class="my-3">
                    <button class="btn btn-primary w-100" (click)="loginAcount()">LOGIN</button>
                  </div>
                  <div class="my-3">
                    <button class="btn btn-dark w-100" routherLink="/SignUp">REGISTER</button>
                  </div>
                  
            </form>
        </div>
    </div>
</div>