.footer {
  background: linear-gradient(to bottom, #0b5ed7, #0b5ed7);
  color: white;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
  opacity: 0; /* Inicialmente, el componente estará oculto */
  animation: fadeIn 1s ease forwards; /* Aplicamos la animación de desvanecimiento al aparecer */
}

@keyframes fadeIn {
  from {
    opacity: 0; /* La opacidad inicial es 0 (completamente transparente) */
  }
  to {
    opacity: 1; /* La opacidad final es 1 (completamente visible) */
  }
}

@keyframes fadeOut {
  from {
    opacity: 1; /* La opacidad inicial es 1 (completamente visible) */
  }
  to {
    opacity: 0; /* La opacidad final es 0 (completamente transparente) */
  }
}
