<nav class="navbar navbar-expand-lg navbar-light bg-custom-blue">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand me-2" href="/home">
      <img src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.webp" height="16" alt="" loading="lazy"
        style="margin-top: -1px" />
    </a>

    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarButtonsExample"
      aria-controls="navbarButtonsExample" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Inicio</a>
        </li>

        <li class="nav-item">
          <button class="nav-link" *ngIf="isButtonMyListVisible" routerLink="/taskList">Mi Lista</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" *ngIf="isButtonMyListVisible" routerLink="/user-calendar">Calendario</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" *ngIf="isButtonMyListVisible">Por Vencer</button>
        </li>
      </ul>

      <!-- Right links -->
      <div id="LoginButtom" class="d-flex align-items-center">
        <img [src]="userPicture" *ngIf="isButtonMyListVisible" alt="User Profile Picture" class="rounded-circle me-2" style="width: 30px; height: 30px;" routerLink="/userProfile">
        <button type="button" class="btn btn-primary px-3" (click)="loginStatus()">
          {{ buttonText }}
        </button>
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
