/* Estilos para las tarjetas sin efecto hover */
.card-hover-effect {
  background-color: white;
  color: black;
  transition: background-color 0.3s, color 0.3s; /* Agregamos una transición suave para el efecto hover */
}

/* Estilos para las tarjetas con prioridad Alta */
.card-priority-high.card-hover-effect:hover {
  cursor: pointer;
  background-color: red;
  color: white;
}

/* Estilos para las tarjetas con prioridad Media */
.card-priority-medium.card-hover-effect:hover {
  cursor: pointer;
  background-color: #0b5ed7;
  color: white;
}

/* Estilos para las tarjetas con prioridad Baja */
.card-priority-low.card-hover-effect:hover {
  cursor: pointer;
  background-color: green;
  color: white;
}
